<section class="container-fluid  px-sm-0 px-md-3 profile-page">
  <div class="cb-container container">
    <div class="row mx-lg-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-content px-lg-0">
        <div class="row  mx-sm-0 mx-lg-auto">
          <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 pr-0    order-lg-2 order-md-2 product-desc">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 px-0">
                <img src="../../../assets/img/ic-a-4.png" srcset="../../../assets/img/ic-a-4@2x.png 2x, ../../../assets/img/ic-a-4@3x.png 3x">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 order-lg-1  order-md-1 product-filters">
            <form #profileSettings="ngForm" [formGroup]="profileForm" class="profile-setting-form">
              <div class="form-group">
                <label for="exampleInputEmail1">First Name</label>
                <input type="email" class="form-control" formControlName="firstName" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="First Name" ngModel required>
                <span *ngIf="profileForm?.controls['firstName'].touched && !profileForm?.controls['firstName'].valid"
                  id="first-name-valid" class="validate-message">
                  <span *ngIf="profileForm.controls['firstName'].hasError('required')">* The First Name is required.</span>
                </span>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" formControlName="email" pattern="[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,64}" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="email" required>
                <span *ngIf="profileForm?.controls['email'].touched && !profileForm?.controls['email'].valid"
                  id="email-valid" class="validate-message">
                  <span *ngIf="profileForm.controls['email'].hasError('required')">* The email address is required.</span>
                  <span *ngIf="profileForm.controls['email'].hasError('pattern')">* The email address is invalid.</span>
                </span>
              </div>
              <div class="form-group">
                <label for="validationServerPhone">Phone Number</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3"><input type="text" class="form-control" formControlName="countryCode" placeholder="+1" readonly></span>
                  </div>
                  <input type="text" class="form-control" formControlName="phone" pattern="^\d{3}[- ]?\d{3}[- ]?\d{4}$" id="validationServerPhone" placeholder="310-555-1212"
                    aria-describedby="inputGroupPrepend3" required>
                </div>
                <span *ngIf="profileForm?.controls['phone'].touched && !profileForm?.controls['phone'].valid"
                  id="phone-valid" class="validate-message">
                  <span *ngIf="profileForm.controls['phone'].hasError('required')">* The phone number is required.</span>
                  <span *ngIf="profileForm.controls['phone'].hasError('pattern')">* The phone number is invalid.</span>
                </span>
              </div>
              <div class="notice-msg">
                <label class="form-label mb-0" for="exampleFormControlSelect1 form-label">*We will send you a one
                  time SMS message. Carrier fees may apply.</label>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 d-block text-center d-md-none px-sm-3 px-0"><button data-toggle="modal" (click)="openVerifyModel(profileSettings.value)"
          class="btn add-items-btn btn-block text-capitalize ">Save
        </button></div>
    </div>
  </div>
</section>

<!-- The Modal -->
<ng-template #phoneVerify></ng-template>
