.logo-contianer {
  @media (max-width: 1280px) and (min-width: 767px) {
    margin: 7.5px;
  }
  @media (max-width: 1200px) and (min-width: 767px) {
    margin: 5.5px;
  }
  @media (max-width: 767px) {
    max-width: 33%;
    flex: 0 0 31%;
    min-height: 107px;
    padding: 9px 10px;
    margin: 0 6px 10px 6px;
    border: 4px solid transparent;
  }

  @media (max-width: 575px) {
    max-width: 29%;
    flex: 0 0 30%;
  }
}

.logo-contianer .image-cnt img {
  @media (max-width: 767px) {
    margin: 0 auto;
    width: 60px;
    max-width: 100%;
  }
}

.logo-contianer {
  .image-cnt {
    display: flex;
  }

  .lazy-loading {
    margin: auto;
  }
}
